.row
  .col-lg-12
    %h3.page-header
      %i.fa.fa-laptop
      Subitem
    %ol.breadcrumb{ style: 'background-color: gainsboro;' }
      %li
        %i.fa.fa-home
        %a{href: "/"} Home
      %li= link_to 'Subitem', subitems_path
      %li= link_to 'Criar subitem', new_subitem_path

%section.panel
  %header.panel-heading
    %h1= title
  .panel-body
    = form_with(model: subitem, method: method, local: true, class: 'form-horizontal') do |form|
      .form-group
        = form.label :name, class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :name, class: 'form-control'
      .form-group
        = form.label :description, class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :description, class: 'form-control'
      .form-group
        = form.label :level, class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :level, %w[alto medio baixo], {}, class: 'form-control'
      .form-group
        = form.label :item, class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select 'item_id', driver.items.collect { |item| [ item.name, item.id ] }, {}, class: 'form-control'
      .form-group
        .col-lg-offset-2.col-lg-10
          = form.submit button, class: 'btn btn-outline btn-primary btn-lg'
