<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subitem.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @subitem.level %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @subitem.account_type %>
</p>

<%= link_to 'Edit', edit_subitem_path(@subitem) %> |
<%= link_to 'Back', subitems_path %>
