/ Modal
#modal-item.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Item
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = form_tag  '/items', method: 'post', remote: true do
        .modal-body
          = label_tag 'descrição'
          = text_field_tag :description
          = label_tag 'nopame'
          = text_field_tag :name
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag 'Salva', class: "btn btn-secondary"
