.row
  .col-lg-12
    %h3.page-header
      %i.fa.fa-laptop
      Item
    %ol.breadcrumb{ style: 'background-color: gainsboro;' }
      %li
        %i.fa.fa-home
        %a{href: "/"} Home
      %li= link_to 'Item', items_path
      %li= link_to 'Criar item', new_item_path

.row
  .col-lg-12
    %table#table-item.table.table-bordered
      %thead
        %tr{:role => "row"}
          %th
            Nome
          %th
            Descrição
          %th
            Ações
      %tbody
        - @items.each do |item|
          %tr.gradeA.odd{:role => "row"}
            %td= item.name
            %td= item.description
            %td
              = link_to edit_item_path(item), class: 'btn btn-warning' do
                editar
                %i.fas.fa-edit
              = form_tag  "/items/#{item.id}", method: :delete, style: 'display: inline;' do
                = button_tag nil, type: :submit, class: 'btn btn-danger', data: { confirm: 'Você tem certeza?' } do
                  excluir
                  %i.fas.fa-trash-alt
