
%section.panel
  %header.panel-heading
    Horizontal Forms
  .panel-body
    = form_with(model: @transaction, url: url, method: method, local: true, class: 'form-horizontal') do |form|
      - if @transaction.transfer
        = hidden_field_tag :transfer_id, @transaction.transfer.id
      .form-group
        = form.label 'Selecione a conta', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select(:account_id, options_for_select_accounts(selected: @selected_account_id), {}, { class: 'form-control' })
      .form-group
        = form.label 'Data', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :date_transaction, type: :date, class: 'form-control'
      .form-group
        = form.label 'Valor', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :price, class: 'form-control'
      .form-group
        = form.label 'Quantidade', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :amount, class: 'form-control'
      .form-group
        = form.label 'Descrição', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :description, class: 'form-control'
      .form-group
        = form.label 'Título', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :title, class: 'form-control'
      .form-group
        = form.label 'Item', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select(:item_id, options_for_select_items(selected: @selected_item_id), {}, { class: 'form-control' })
      .form-group
        = form.label 'Subitem', class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select(:subitem_id, options_for_select_subitems(selected: @selected_subitem_id), {}, { class: 'form-control' })
      .form-group
        = form.label 'Selecione a conta destino', class: 'col-lg-2 control-label'
        .col-lg-10
          = select_tag(:destiny_account_id, options_for_select_accounts(selected: @selected_destination_account_id, first_blank: true), { class: 'form-control' })
      .form-group
        .col-lg-offset-2.col-lg-10
          = form.submit button, class: 'btn btn-primary'
          - unless params[:action] == 'edit'
            = hidden_field_tag :new_transaction, true
            = form.submit 'Salvar e nova transação', class: 'btn btn-primary'

= dynamic_select_items_subitems

