= render 'header'

.row
  .col-lg-12
    .panel.panel-default
      #div-filter.panel-heading
        %h5.mb-0
          %button.btn.btn-link.collapsed{"aria-controls" => "div-collapse", "aria-expanded" => "false", "data-target" => "#div-collapse", "data-toggle" => "collapse"}
            Filtros
      #div-collapse.panel.panel-body.collapse
        = form_tag transfers_path, method: :get do
          .row
            .col-lg-2
              = select_tag 'filter[month]', options_for_select(Util::Month.all, Util::Month.current), type: :date, class: 'form-control'
            .col-lg-2
              = select_tag 'filter[year]', options_for_select(Util::Year.recent, Util::Year.current), type: :date, class: 'form-control'
            .col-lg-2
              = select_tag 'filter[account_id]', options_for_select_accounts(first_blank: true), class: 'form-control'
            .col-lg-2
              = select_tag 'filter[item_id]', options_for_select_items(first_blank: true), id: :transaction_item_id, class: 'form-control'
            .col-lg-2
              = select_tag 'filter[subitem_id]', options_for_select_subitems(first_blank: true), id: :transaction_subitem_id, class: 'form-control'
          .row{ style: 'border-top-width: 10px; margin-top: 10px;' }
            .col-lg-2
              = submit_tag 'Buscar', class: 'btn btn-info pull-right', style: 'width: 100%'

.row
  .col-lg-12
    %table#table-transaction.table.table-bordered
      %thead
        %tr{:role => "row"}
          %th Conta
          %th Tipo
          %th Data
          %th Valor
          %th Quantidade
          %th Descrição
          %th Título
          %th item
          %th subitem
          %th Conta associada
          %th
      %tbody
        - @transactions.each do |transaction|
          - transfer = transaction.transfer
          - associated = transaction.associated_transaction
          %tr.gradeA.odd{:role => "row"}
            %td= transaction.account.name
            %td= transaction.origin? ? 'Origem' : 'Destino'
            %td= format_date transaction.date_transaction
            %td= transaction.value
            %td= transaction.amount
            %td= transaction.description
            %td= transaction.title
            %td= transaction.subitem.item.name if transaction.subitem
            %td= transaction.subitem.name if transaction.subitem
            %td= associated.account.name if associated
            %td
              = link_to edit_transfer_path(transaction), class: 'btn btn-warning' do
                editar
                %i.fas.fa-edit
              = form_tag  transfer_path(transfer), method: :delete, style: 'display: inline;' do
                = button_tag nil, type: :submit, class: 'btn btn-danger', data: { confirm: 'Você tem certeza?' } do
                  excluir
                  %i.fas.fa-trash-alt
.row
  = paginate @transactions

= dynamic_select_items_subitems
