%p#notice= notice
%h1 Transfers
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @transfers.each do |transfer|
      %tr
        %td= link_to 'Show', transfer
        %td= link_to 'Edit', edit_transfer_path(transfer)
        %td= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Transfer', new_transfer_path
