%h1 teste
= form_for :transaction do |form|
  / <div id="error_explanation">
  / <h2><haml_silent></haml_silent> prohibited this transaction from being saved:</h2>
  / <ul>
  / <li><haml_silent></haml_silent></li>
  / </ul>
  / </div>
  %table
    %thead
      %tr
        %th Data
        %th Valor
        %th Descrição
        %th Título
        %th Detalhamento
        %th Item
        %th Subitem
        %th Quantidade
        %th Conta
        %th Opções
    %tbody
      = 'Não há dados' unless @transactions.present?
      - @transactions.each do |transaction|
        %tr
          %td= transaction.date_transaction
          %td= transaction.value
          %td= transaction.description
          %td= transaction.title
          %td= transaction.amount
          %td= link_to 'Show', transaction
          %td= link_to 'Edit', edit_transaction_path(transaction)
          %td= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'Novo',action: :new
