
%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

= render 'transfers/filter', url: reports_path

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h5.mb-0
          %button.btn.btn-link.collapsed{"aria-controls" => "div-collapse", "aria-expanded" => "false", "data-target" => "#div-collapse-grafico", "data-toggle" => "collapse"}
            Gráficos
      #div-collapse-grafico.panel.panel-body.collapse.in
        .row
          .col-lg-6
            #piechart_negatives{style: "width: 100%; height: 500px; z-index: -1"}
          .col-lg-6
            #piechart_positives{style: "width: 100%; height: 500px;"}

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h5.mb-0
          %button.btn.btn-link.collapsed{"aria-controls" => "div-collapse", "aria-expanded" => "false", "data-target" => "#div-collapse-table", "data-toggle" => "collapse"}
            Tabelas
      #div-collapse-table.panel.panel-body.collapse.in

        .row
          .col-lg-6
            .alert.alert-danger
              %table.table
                %thead
                  %tr
                    %th Item
                    %th Valor
                %tbody
                  - array = @negatives.clone
                  - total = 0
                  - array.each do |item|
                    - total += item[1]
                    %tr
                      %td= item[0]
                      %td= format_currency item[1]
                %tfoot
                  %tr
                    %th
                      %strong TOTAL
                    %th
                      %strong= format_currency total

          .col-lg-6
            .alert.alert-success
              %table.table
                %thead
                  %tr
                    %th Item
                    %th Valor
                %tbody
                  - array = @positives.clone
                  - total = 0
                  - array.each do |item|
                    - total += item[1]
                    %tr
                      %td= item[0]
                      %td= format_currency item[1]
                %tfoot
                  %tr
                    %th
                      %strong TOTAL
                    %th
                      %strong= format_currency total
%script
  = render partial: 'pie_chart', formats: [:js]