/ sidebar start
%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul.sidebar-menu
      %li.active
        %a{href: "/"}
          %i.icon_house_alt
          %span Início
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_document_alt
          %span Menu
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li= link_to 'Contas', accounts_path
          %li= link_to 'Items', items_path
          %li= link_to 'Subitems', subitems_path
          %li= link_to 'Transações', transfers_path
          %li= link_to 'Upload de Arquivos', new_bank_statement_path

      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_documents_alt
          %span Lembretes
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li= link_to 'Contas a pagar', debts_path

      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_piechart
          %span Relatórios
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li= link_to 'Relatórios', pie_chart_reports_path
          %li= link_to 'Relatórios2', line_reports_path
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_toolbox_alt
          %span Adminstração
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li= link_to 'Tarefas', admins_tasks_path, title: 'Tarefas para fazer no sistema'
