/ sidebar start
%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul.sidebar-menu
      %li.active
        %a{href: "/"}
          %i.icon_house_alt
          %span Início
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_document_alt
          %span Menu
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            = link_to accounts_path do
              Contas
          %li
            = link_to items_path do
              Items
          %li
            = link_to subitems_path do
              Subitems
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_desktop
          %span Transações
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            = link_to 'Nova transação', '/transfers/new'
      %li
        %a{href: "widgets.html"}
          %i.icon_genius
          %span Widgets
      %li
        %a{href: "chart-chartjs.html"}
          %i.icon_piechart
          %span Charts
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_table
          %span Tables
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "basic_table.html"} Basic Table
      %li.sub-menu.hidden
        = form_tag destroy_accountant_session_path, method: :delete do
          = submit_tag 'Sair', class: 'btn btn-link'

