!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %link{href: image_url("title.png"), rel: "shortcut icon"}
    %title Gerenciamento de Contas

    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity: "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", rel: "stylesheet"}/

  %body
    / container section start
    %section#container
      %header.header.dark-bg
        .toggle-nav
          .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
            %i.icon_menu

        / logo start
        - if current_accountant
          = link_to current_accountant.family.name, '/', class: 'logo'
        - else
          %a.logo{href: "index.html"}
            Gerenciamento de
            %span.lite contas
        / logo end

        = render 'layouts/notification'
      / header end

      = render 'layouts/sidebar_menu'

      / main content start
      %section#main-content
        %section.wrapper
          .row
            .col-lg-12
              - if !@transporter.nil? && @transporter.messages.present?
                = render 'shared/modal-error'
                :javascript
                  $('#modal-error').modal('show');
              - if notice
                .alert.alert-success.fade.in{ style: 'cursor: pointer;'}
                  %strong Sucesso!
                  = notice
                  - flash[:notice] = nil
                :javascript
                  $('.alert-success').click(function() {
                    $(this).hide('slow');
                  });

          = yield



:javascript

  //knob
  $(function() {
    $(".knob").knob({
      'draw': function() {
        $(this.i).val(this.cv + '%')
      }
    })
  });

  //carousel
  $(document).ready(function() {
    $("#owl-slider").owlCarousel({
      navigation: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      singleItem: true

    });
  });

  //custom select box

  $(function() {
    $('select.styled').customSelect();
  });

  /* ---------- Map ---------- */
  $(function() {
    $('#map').vectorMap({
      map: 'world_mill_en',
      series: {
        regions: [{
          values: gdpData,
          scale: ['#000', '#000'],
          normalizeFunction: 'polynomial'
        }]
      },
      backgroundColor: '#eef3f7',
      onLabelShow: function(e, el, code) {
        el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
      }
    });
  });