.row
  .col-lg-12
    %h3.page-header
      %i.fa.fa-laptop
      Contas
    %ol.breadcrumb{ style: 'background-color: gainsboro;' }
      %li
        %i.fa.fa-home
        %a{href: "/"} Home
      %li= link_to 'Contas', accounts_path
      %li= link_to 'Criar conta', new_account_path

.row
  .col-lg-12
    %table#table-item.table.table-bordered
      %thead
        %tr{:role => "row"}
          %th
            Nome
          %th
            Descrição
          %th
            Ações
      %tbody
        - @accounts.each do |account|
          %tr.gradeA.odd{:role => "row"}
            %td= account.name
            %td= account.description
            %td
              = link_to 'Editar', edit_account_path(account)
              = link_to 'Apagar', account, method: :delete, data: { confirm: 'Você tem certeza?' }


